$cor-cabecalho: #4b7081;

header{
    background-color: $cor-cabecalho;
    color: #fff;
    height: 50px;
    display: flex;
    padding: 0px 25px;



    h2{
        display: flex;
        flex: 1;
        align-items: baseline;
        &:last-child{
            justify-content: flex-end;
        }
    }
}