$cor-colunas: #F2F2F2;
$cor-colunas-hover: #E5E5E5;


.Coluna{
    width: 250px;
    flex-direction: column;
    flex: 1;
    // align-self:stretch;

    margin: 20px;
    background-color: $cor-colunas;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // &:hover{
    //     background-color: $cor-colunas-hover;
    // }
    h3{
        font-family: 'El Messiri';
        text-align: center;
        font-weight: 500;
        margin-top: 0px;
    }


    ul{
        padding: 0;
        margin: 0;
    }
    
}