.Coluna {
  width: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 20px;
  background-color: #F2F2F2;
  padding: 10px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Coluna h3 {
  font-family: 'El Messiri';
  text-align: center;
  font-weight: 500;
  margin-top: 0px;
}

.Coluna ul {
  padding: 0;
  margin: 0;
}
