main .NewTask {
  text-align: center;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

main .NewTask input {
  width: 350px;
  height: 30px;
  background: #F8F8F8;
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 5px auto;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

main .NewTask button {
  margin-top: 5px;
  width: 350px;
  cursor: pointer;
  height: 30px;
}

main .Colunas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 600px;
}
