
main{
    .NewTask{
        text-align: center;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        width: 50%;
        label{
            // font-size: 14px;
        }
        input{
            width: 350px;
            height: 30px;
            background: #F8F8F8;
            border: 1px solid #000000;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            margin: 5px auto;
            padding: 20px;
            box-sizing: border-box;
            display: block;
        }
        button{
            margin-top: 5px;
            width: 350px;
            cursor: pointer;
            height: 30px;
        }
    }
    .Colunas{
        display: flex;
        min-height: 600px;
        
    }
}