.Tarefa{
    background-color: #fff;
    border: 1px solid #000000;
    text-align: center;
    margin: 5px 0;
    border-radius: 2px;
    overflow-wrap: break-word;
    h4{
        font-family: 'El Messiri';
        margin: 5px;
    }
    p{
        margin: 10px;
        font-size: 13px;
    }
    i{
        cursor: pointer;
        margin: 0px 10px;
        opacity: 0.4;
        &:hover{
            opacity: 1;
        }
    }
}