.Tarefa {
  background-color: #fff;
  border: 1px solid #000000;
  text-align: center;
  margin: 5px 0;
  border-radius: 2px;
  overflow-wrap: break-word;
}

.Tarefa h4 {
  font-family: 'El Messiri';
  margin: 5px;
}

.Tarefa p {
  margin: 10px;
  font-size: 13px;
}

.Tarefa i {
  cursor: pointer;
  margin: 0px 10px;
  opacity: 0.4;
}

.Tarefa i:hover {
  opacity: 1;
}
